<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Saia LTL Freight</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link href="assets/css/reset.css" rel="stylesheet">
		<link href="assets/css/colorbox.css" rel="stylesheet">
		<link href="assets/css/selectbox.css" rel="stylesheet">
		<link href="assets/css/main.css" rel="stylesheet">
		<link href="assets/css/lb.css" rel="stylesheet">
		<link href="assets/css/jquery-ui-1.8.22.custom.css" rel="stylesheet">
		<link href="assets/css/jquery-bubble-popup-v3.css" rel="stylesheet">
		<link href="assets/css/enhanced.css" type="text/css" rel="stylesheet" />
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements --> 
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	</head>

	<body>
        <div class="container">
            <header>
    			<div id="logo"><a href="index.shtml"><img src="assets/img/logo_ls.png" alt="Saia Logistics Logo" /></a></div>
    			<div id="topLinks">
    				<ul>
    					<li><a href="../saiainc/index.shtml">The Company</a></li>
    					<li><span>|</span></li>
    					<li><a href="contact.shtml">Contact</a></li>
    				</ul>
    			</div>
    			<hr />
    			<div id="headerLinks">
    				<ul id="mainMenu">
						<li class="first-child">
							<a href="#">Logistics Services</a>
							<ul class="menu">
								<li class="first-child">
									<div><img src="assets/img/menu_logistics.png" alt="Folder Icon" /></div>
									<ul class="subMenu">
										<li><a href="logistics-management.shtml">Logistics Project Management</a></li>
										<li><a href="carrier-negotiations.shtml">Carrier Negotiations</a></li>
										<li><a href="audit-payment.shtml">Audit &amp; Payment</a></li>
									</ul>
								</li>
								<li class="last-child">
									<img src="assets/img/menu_small_package.png" alt="Info Icon" />
									<ul class="subMenu">
										<li><a href="small-package-management.shtml">Small Package Freight Management</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Resource Center</a>
							<ul class="menu twoCol">
								<li class="first-child">
									<img src="assets/img/menu_reports.png" alt="Reports Icon" />
									<ul class="subMenu">
										<li><a href="management-reports.shtml">Management Reports</a></li>
										<li><a href="routing-maps-guides.shtml">Routing Maps &amp; Freight Routing Guides</a></li>
									</ul>
								</li>
								<li class="last-child">
									<img src="assets/img/menu_info.png" alt="Info Icon" />
									<ul class="subMenu">
										<li><a href="news-releases.shtml">News Releases</a></li>
										<li><a href="weather-info.shtml">Weather Info</a></li>
										<li><a href="holidays.shtml">Holidays</a></li>
										<li><a href="glossary.shtml">Glossary of Terms</a></li>
										<li><a href="faqs.shtml">FAQs</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="noMenu">
							<a href="customer-service.shtml">Customer Service</a>
						</li>
    				</ul>
    				<ul id="last">
    					<li><a class="cbOpen" href="modals/customer-login.html">Customer Login</a></li>
    					<li>|</li>
    					<li><a class="cbOpen" href="modals/search.html"><img src="assets/img/ico_search.png" width="20" height="20" alt="search icon" /></a></li>
    				</ul>
    			</div>
    		</header>